.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.Box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.Paper {
  align-self: center;
  width: 100%;
  padding: 10px 10px 15px;
}

.Title {
  padding: 10px;
}

.Joke {
  padding: 15px;
}

.Error {
  color: rgb(95, 33, 32);
  background-color: rgb(253, 237, 237);
}
